.page-normal {
    margin-left: 2rem;
}

.page-left {
    margin-left: 6rem;
}

.pages-style {
    padding: 60px;
    margin: auto;
    width: 100%;
    max-width: 520px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #51459e;
    font-size: 4rem;
    color: white;
}

@media (max-width:576px) {
    .page-left {
        margin-left: unset;
    }
    .page-normal {
        margin-left: unset;
    }
}


/* .spacing {
    padding-bottom: 24rem;
} */

.div-row {
    margin: 2rem;
}

.col-item {
    padding-block: 12px;
}