.container-crud {
    margin-block: 10rem;
}

.form-btn {
    background-color: #51459e !important;
    border: none !important;
    outline: none;
    width: 98% !important;
    padding: 10px 0 !important;
    letter-spacing: 1px;
    border-radius: 90px !important;
    margin-top: 1rem;
    margin-left: 0.8rem;
}

.btn-add-new {
    margin-block: 1rem;
    background-color: #51459e!important;
    border: none!important;
    box-shadow: none!important;
}

.btn-crop {
    margin-left: 12rem;
    margin-top: 1rem;
    background-color: #51459e!important;
    border: none!important;
    box-shadow: none!important;
}

.table-employee .td {
    font-weight: 500;
    text-align: left;
    padding: 1rem;
    line-height: 1rem;
}

.user-login .th {
    padding: 1.4rem;
    line-height: 1rem;
}

.table-employee .emp-id {
    text-transform: uppercase;
}

.table-employee span {
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
    padding-left: 8px;
    color: cornflowerblue;
}

.table-employee .action-icon:hover {
    color: black!important;
}

.modal-card .card-value {
    font-weight: 500;
}

.modal-card .card-header {
    color: #fff;
    background-color: #51459e;
    line-height: 2rem;
    font-size: 18px;
    border: none;
}

.modal-card .modal-body {
    padding: 1.4rem 2rem;
}

.modal-card .card-info {
    padding-left: 6px;
}

.modal-title {
    font-weight: 500;
    color: black;
    padding-left: 1rem;
}

.modal-card .btn-confirm-dlt {
    padding: 10px 1rem;
    padding-top: 10px;
    padding-right: 1rem;
    padding-bottom: 10px;
    padding-left: 1rem;
    background: #51459e;
    color: white;
    border-radius: 2rem;
    border: none;
}

.modal-card .btn-confirm-dlt:active {
    background: #51459e!important;
    border: none!important;
}

.modal-card .btn-close-dlt {
    background: none;
    border: none;
    color: black;
}

.modal-card .modal-footer {
    padding: 1.2rem 2rem;
}

.form-style .form-control1 {
    display: block;
    height: 50px;
    width: 100%;
    margin: 0 auto;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.form-style .error-msg {
    color: red;
}

.form-control1::placeholder {
    transition: .5s;
}

.form-control1:focus {
    color: black;
    outline: none;
    border-bottom: 1px solid #1abc9c;
}

.form-control1::placeholder {
    position: relative;
}

.form-control1 {
    position: relative;
    z-index: 1;
    padding-left: 20px;
    text-transform: uppercase;
    transition: .5s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.gender-select {
    display: flex;
    align-items: center;
    box-shadow: 0 0 16px rgba(0, 0, 0, .2);
    width: 90% !important;
    margin-left: 2rem;
    margin-bottom: 1rem !important;
    padding-left: unset !important;
    padding-right: unset !important;
}

.form-check-radio {
    position: relative;
    flex-basis: calc(50% / 1);
    display: flex;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.form-check-input {
    appearance: none;
}

.form-check-label {
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 200%;
    font-weight: 600;
    color: rgba(0, 0, 0);
}

.form-check-input:checked+.form-check-label {
    background-color: #1abc9c;
    color: white;
}

.form-check-input {
    opacity: 0;
    height: unset!important;
    width: unset!important;
}

.label-gender {
    margin-block: 1rem;
    color: black;
    font-size: 20px;
    font-weight: 540;
    margin-left: 1rem;
}

.list-group .list-group-item {
    line-height: 2rem;
    font-size: 18px;
}

.table-wrapper {
    overflow-x: auto;
}

.table-wrapper .main-table {
    border-collapse: collapse;
    width: 100%;
}

.profile-card {
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    display: block;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.46);
    width: 22%;
    margin-block: 1rem;
}

@media (max-width:576px) {
    .profile-card {
        width: unset;
    }
    .card-form {
        display: block!important;
    }
}

@media (min-width:576px) {
    .list-details {
        padding-left: 3rem!important;
    }
}

.card-name {
    text-align: center;
    font-weight: 600;
    padding-top: 56px;
    font-size: 22px;
}

.card-details {
    list-style: none;
    padding-left: unset;
    font-size: 14px;
}

.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 14rem;
    height: 8rem;
    border: 6px solid white;
    width: 8rem;
}

.list-details {
    padding: 8px;
    padding-top: 8px;
    padding-left: 4rem;
}

.list-details.email {
    padding-top: 18px;
}

.card-details .gender {
    text-align: center;
}

.card-details .age {
    text-align: center;
}

.card-details .dob {
    padding-bottom: 1rem;
}

.banner {
    width: 100%;
    height: 6rem;
    padding: 1rem;
    background-image: url(../assests/banner.jpeg);
    background-position: center;
    background-size: cover;
}

.card-form {
    display: flex;
    margin-bottom: 1rem;
    flex-wrap: wrap;
    gap: 4%;
}

.toggle-view {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.toggle-view .select-label {
    border: none;
    background: none;
    text-transform: capitalize;
    color: gray;
}

.toggle-view .view-option {
    margin-top: 20px;
}

.none {
    display: none;
}

.btn-upload-img {
    width: 90%!important;
    margin-left: 2rem!important;
    margin-right: auto!important;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* 
.card {
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    box-shadow: 0 5px 20px rgb(0 0 0 / 6%) !important;
    text-align: center!important;
    overflow: hidden!important;
    position: relative!important;
    border-radius: 0.3rem!important;
} */