.container-crud {
    margin-block: 10rem;
}

.form-btn {
    margin: 12px;
    background-color: #51459e !important;
    border: none !important;
    outline: none;
    width: 98% !important;
    padding: 16px 0 !important;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    border-radius: 90px !important;
}

.btn-add-new {
    margin-block: 1rem;
    background-color: #51459e!important;
    border: none!important;
    box-shadow: none!important;
}

.btn-crop {
    margin-left: 12rem;
    margin-top: 1rem;
    background-color: #51459e!important;
    border: none!important;
    box-shadow: none!important;
}

.table-employee .td {
    font-weight: 500;
    text-align: left;
    padding: 1rem;
    line-height: 1rem;
}

.user-login .th {
    padding: 1.4rem;
    line-height: 1rem;
}

.table-employee .emp-id {
    text-transform: uppercase;
}

.table-employee span {
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
    padding-left: 8px;
    color: cornflowerblue;
}

.table-employee .action-icon:hover {
    color: black!important;
}

.modal-card .card-value {
    font-weight: 500;
}

.modal-card .card-header {
    color: #fff;
    background-color: #51459e;
    line-height: 2rem;
    font-size: 18px;
    border: none;
}

.modal-card .modal-body {
    padding: 1.4rem 2rem;
}

.modal-card .card-info {
    padding-left: 6px;
}

.modal-title {
    font-weight: 500;
    color: black;
    padding-left: 1rem;
}

.modal-card .btn-confirm-dlt {
    padding: 10px 1rem;
    padding-top: 10px;
    padding-right: 1rem;
    padding-bottom: 10px;
    padding-left: 1rem;
    background: #51459e;
    color: white;
    border-radius: 2rem;
    border: none;
}

.modal-card .btn-confirm-dlt:active {
    background: #51459e!important;
    border: none!important;
}

.modal-card .btn-close-dlt {
    background: none;
    border: none;
    color: black;
}

.modal-card .modal-footer {
    padding: 1.2rem 2rem;
}

.form-style .form-control1 {
    display: block;
    height: 50px;
    width: 100%;
    margin: 0 auto;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.form-style .error-msg {
    color: red;
}

.form-control1::placeholder {
    transition: .5s;
}

.form-control1:focus {
    color: black;
    outline: none;
    border-bottom: 1px solid #1abc9c;
}

.form-control1::placeholder {
    position: relative;
}

.form-control1 {
    position: relative;
    z-index: 1;
    padding-left: 20px;
    text-transform: uppercase;
    transition: .5s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.gender-select {
    display: flex;
    align-items: center;
    box-shadow: 0 0 16px rgba(0, 0, 0, .2);
    width: 90% !important;
    margin-left: 2rem;
}

.form-check-radio {
    position: relative;
    flex-basis: calc(50% / 1);
    display: flex;
    justify-content: center;
}

.radio-btn {
    border-right: 1px solid;
    border-radius: unset;
}

.form-check-input {
    appearance: none;
    display: none;
}

.form-check-label {
    position: relative;
    height: 80%;
    width: 90%;
    text-align: center;
    border-radius: 9999px;
    line-height: 300%;
    font-weight: 900;
    transition-duration: .5s;
    transition-property: transform, color, box-shadow;
    transform: none;
}

.form-check-input:checked+.form-check-label {
    background-color: #1abc9c;
    color: white;
    transform: translateY(-2px);
}

.label-gender {
    margin-block: 1rem;
    color: black;
    font-size: 20px;
    font-weight: 540;
    margin-left: 1rem;
}

.list-group .list-group-item {
    line-height: 2rem;
    font-size: 18px;
}

.table-wrapper {
    overflow-x: auto;
}

.table-wrapper .main-table {
    border-collapse: collapse;
    width: 100%;
}