.contains {
    border: 1px solid gray;
    border-radius: 20px;
    padding: 1rem;
}

.chart-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.chart-select {
    border: none;
    background: none;
    position: relative;
    text-transform: capitalize;
    font-size: 14px;
    color: gray;
}

@media (max-width:576px) {
    .chart-head {
        padding-bottom: unset;
    }
}

.chart-style {
    position: unset!important;
}